html {
	background-color: black;
	font-family: Helvetica, san-serif;
	font-size: 18px;
	color: whitesmoke;
}
html, div {
/*	border: 1px solid blue;*/
/*	margin: 10px;*/
}

h1 {
	font-size: 1rem;
	background-color: black;
}

p {
	color: black;
}

.site_container{
	width:  960px;
	margin-left: auto;
	margin-right: auto;
}

/*Header*/

header .site_container {
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
	display: flex;
	align-items: center;
}

header img {
	height: 1.5rem;
	width: auto;
	margin-left: 0.5rem;
	margin-right: 1rem;
}

.main_banner {
	background-image: url(../img/moto.jpeg);
	background-size: cover;
	height: 25rem;
}

.banner_box {
	width: 20rem;
	background-color: black;
	padding: 2rem 3rem;
	position: relative;
	top: 9rem;
}

.banner_box h1 {
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.banner_box h2 {
	font-weight: bold;
	font-size: 2rem;
}

#nav_main {
	background-color: firebrick;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

#nav_main_small {
	background-color: firebrick;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
    display: none;
}

nav ul {
	display: flex;
	justify-content: space-between;
}

#nav_main_small ul {
	display: flex;
	justify-content: space-around;
}


.main_container {
	background-color: white;
}

.product_grid {
	display: flex;
	justify-content: space-between;
	padding: 3rem 0rem;
}

.product {
	border: 4px solid black;
	width: 30%;
}

.product_img {
	height: 9rem;
	width: auto;
	overflow: none;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding: 2rem;
}

.product_img img {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

.product_name h1 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

.store_info {
	display: flex;
	justify-content: space-between;
	padding-bottom: 4rem;
}

.location_hours {
	width: 35%;
}

.location_hours h1{
	padding: 1rem 2rem;
}

footer {
	height: 5rem;
	display: flex;
	align-items: center;
}

/*Media Queries*/

@media only screen and (max-width: 1024px) {

    .site_container {
        width: 100%;
    }
    
    #nav_main {
        display: none;
    }
    
    #nav_main_small {
        display: block;
    }
    
    .product_grid {
        overflow: hidden;
    }
    
    .product {
        width: 47%;
        border: 4px solid black;
        overflow: hidden;
    }
    
    #glasses {
        display: none;
    }
}






